<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search a dump! | Steamer</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	<style>
		thead th {
			cursor: pointer;
		}
		.pagination {
			display: inline-block;
		}
		.pagination a {
			color: black;
			float: left;
			padding: 8px 16px;
			text-decoration: none;
			border: 1px solid #ddd;
		}
		.pagination a.active {
			background-color: #6b696d;
			color: white;
		}
		.disabled {
			background-color: #cccccc;
			color: #666666;
			pointer-events: none;
  			cursor: default;
		}
		/* https://stackoverflow.com/questions/1853662/how-to-show-page-loading-div-until-the-page-has-finished-loading */
		#loading-indicator {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: fixed;
			display: block;
			opacity: 0.7;
			background-color: #fff;
			z-index: 99;
			text-align: center;
		}

		#loading-image {
			position: absolute;
			margin: auto;
			top: 50%;
			z-index: 100;
		}

	</style>
</head>
<body>	
	<div id="loading-indicator" style="display: none">
		<img src="images/ajax-loader.gif" id="loading-image" alt="Loading...">
	</div>	
	<div class="pure-g">
		<img src="/images/logo.png", alt="logo" style="margin: 0 auto; text-align: center;">
		<form class="pure-form pure-u-1-1" action="/search" method="get" style="margin: 0 auto; text-align: center;">
			<fieldset>
				<legend>Freeform search all archived dumps</legend>				
				<input type="text" name="search" style="width: 400px" autofocus placeholder="Example: .gov (all emails ending with .gov)" {{ if .Search }}value="{{ .Search }}"{{ end }}>
				<select name="breach">
					<option value="all">All Dumps</option>
					{{ if .Breach }}{{ if ne .Breach "all" }}<option value="{{ .Breach }}" selected>{{ .Breach }}</option>{{ end }}{{ end }}
					<option>Loading...</option>
				</select>
				<input type="hidden" name="sort" value="{{ if .Sort }}{{ .Sort }}{{ else }}email{{ end}}">
				<input type="hidden" name="page" value="{{ if .PageNum }}{{ .PageNum }}{{ else }}1{{ end}}">				
				<select name="format">
					<option value="web">Web Interface</option>
					<option value="json">JSON Export</option>
				</select>
				<span>Results per page: </span>
				<select name="limit">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
					<option value="200">200</option>
				</select>
				<button class="pure-button pure-button-primary search-button">Search</button>
			</fieldset>			
		</form>
		<input type="hidden" name="limit" value="{{ if .Limit }}{{ .Limit }}{{ else }}-1{{ end}}">		
		<div class="pure-u-3-8 pagination" id="pagination-box" style="margin-left: auto;">
		</div>
		<div class="pure-u-1-1" id="results">
			<table class="pure-table" style="margin: 0 auto;">
				<thead>
					{{ if .Results }}
						{{ range $k, $v := index .Results 0 }}
							{{ if ne $k "Id" }}
					<th>{{ $k }}</th>
							{{ end }}
						{{ end }}
					{{ end }}
				</thead>
				<tbody>
					{{ range .Results }}<tr>
						{{ range $k, $v := . }}
							{{ if ne $k "Id" }}
						<td>{{ $v }}</td>
							{{ end }}
						{{ end }}
					</tr>{{ end }}

				</tbody>
			</table>

			<hr>
		</div>

		<div class="pure-u-1-1" class="information" style="width: 800px; margin: 0 auto">
			<p>Search the MongoDB dump database. Searches will include by default:
			<ul>
				<li>^search.* on email</li>
				<li>.*search$ on email</li>
				<li>exact match on password hash</li>
				<li>exact match on breach (if specified)</li>
			</ul></p>
			<p>Click on an entry in the table to view 'related' entries. Internally this works by just doing a search with that value again.</p>
			<p>Click a table header element to sort by that field. Keep in mind this can be significantly slower than a non-specific sort.</p>
			<p>Change from "Web Interface" to "JSON" if you want a raw JSON export of the results</p>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			// TODO: Loading Indicator loads when redirected
			// TODO: Page Refresh Part of Page 
			// AJAX in the breach list
			$.get("/listbreaches", function(data) {
				// remove the loading item
				$('select[name="breach"] > :last-child').remove();
				breaches = JSON.parse(data);
				for (var i = 0; i < breaches.length; i++) {
					// Don't add if it already exists
					if ($('select[name="breach"] > option[value="' + breaches[i] + '"]').length) continue
					$('select[name="breach"]').append('<option name="' + breaches[i] + '">' + breaches[i] + '</option>');
				}
			});

			// Bind a search handler
			$('.search-button').click(function() {
				// Check if search is empty
				if($('input[name="search"]').val() == ""){
					alert("Please specify a search value")
					return false;
				}
				// If format is not webinterface, we should submit the form, else do it with AJAX
				if ($('select[name="format"]').val() != 'web') {
					return true;
				}
				// Everytime we click search, reset to page one
				$('input[name="page"]').val('1');
				url = constructURL($('input[name="search"]').val(),  $('select[name="breach"] option:selected').val(), 
							$('input[name="sort"]').val(), $('select[name="format"]').val(),
							$('input[name="page"]').val(), $('select[name="limit"] option:selected').val())
				// Update history with the new URL
				history.pushState(null, "", url);
				// Trigger an AJAX request to get the results
				updateResults();
				return false;
			});

			// Utility funtion to construct a url 
			function constructURL(searchVal, breachVal, sortVal, formatVal, pageVal, limitVal){
				// If limit is not set, we should set it to a default value
				// Check if search is empty
				if(searchVal == ""){
					alert("Please specify a search value")
					return false;
				}
				if (limitVal == '') {
					limitVal.val("10");
				}
				url = "/search?search=" + searchVal +
					"&breach=" + breachVal +
					"&sort=" + sortVal +
					"&format=" + formatVal +
					"&page=" + pageVal +
					"&limit=" + limitVal;
				return url;
			}
			// Utility function to make pagination			
			function makePagination() {
				// Check if we have any results
				if ($("#results tbody").children().length > 0){
					// Start making pagination					
					$('#pagination-box a').remove();
					// Declare local vars
					var pagenum = parseInt($('input[name="page"]').val());
					var searchVal = $('input[name="search"]').val();
					var breachVal = $('select[name="breach"] option:selected').val();
					var sortVal = $('input[name="sort"]').val();
					var formatVal =  $('select[name="format"]').val();
					// We need to make sure if the template gets reloaded we still have the correct limit
					if ($('input[name="limit"]').val() != "-1" ){
						// TODO: check if limit isn;t one of the default values
						$('select[name="limit"]').val($('input[name="limit"]').val()).change();
					}
					var limitVal = $('select[name="limit"] option:selected').val();		
					// Make the previous pages
					curPage = pagenum
					while(curPage > 1 && (pagenum-curPage) < 2 ){
						curPage = curPage - 1;
						$('#pagination-box').prepend('<a href="'+
							constructURL(searchVal, breachVal, sortVal, formatVal, curPage, limitVal)+'">'+ curPage+'</a>');						
					}
					// Make the previous page button
					if (pagenum > 1){
						$('#pagination-box').prepend('<a href="'+
							constructURL(searchVal, breachVal, sortVal, formatVal, pagenum-1, limitVal)+'">&laquo;</a>');
					} else {
						$('#pagination-box').prepend('<a href="#" class="disabled">&laquo;</a>');
					}
					$('#pagination-box').append('<a class="active" href="#">'+pagenum+'</a>');		
					// Display loader					
					$('#loading-indicator').css('display','block');		
					// Trigger another AJAX request to see if we have more pages, overhead is large if we need to skip a lot of results
					$.get("/search", {
						search: searchVal,
						breach: breachVal,
						sort:   sortVal,
						format: "json",
						page:  pagenum+1,
						limit: limitVal,
					}, function(data) {
						if (data != "[]"){
							// parse into json
							res = JSON.parse(data);
							if (res.length > 0){
								// If we are on the first 4 pages, make the rest of the pages
								if (pagenum < 3) {
									curPage = pagenum;
									while (curPage < 3) {
										curPage = curPage + 1;
										if (curPage == pagenum + 1) {
											// active ones
											$('#pagination-box').append('<a href="'+
												constructURL(searchVal, breachVal, sortVal, formatVal, curPage, limitVal)+'">'+curPage+'</a>');
										}
										else {
											// make empty boxes
											$('#pagination-box').append('<a href="#">...</a>');
										}
									}
								}
								$('#pagination-box').append('<a href="'+
									constructURL(searchVal, breachVal, sortVal, formatVal, pagenum+1, limitVal)+'">&raquo;</a>');
								$('#loading-indicator').hide();	
								return;
							}							
						}
						// If we don't have anymore data
						if (pagenum < 3) {
							curPage = pagenum;
							while (curPage < 3) {
								curPage = curPage + 1;
								// make empty boxes
								$('#pagination-box').append('<a class="disabled" href="#">&nbsp;</a>');
							}
						}
						$('#pagination-box').append('<a class="disabled" href="#">&raquo;</a>');
						$('#loading-indicator').hide();	
					});
				}				
			}

			function updateResults() {		
				// First reset the limit set by the webserver to its default value -1
				$('input[name="limit"]').val('-1');	
				// Display loader
				$('#loading-indicator').css('display','block');	
				$.get("/search", {
					search: $('input[name="search"]').val(),
					breach: $('select[name="breach"] option:selected').val(),
					sort:   $('input[name="sort"]').val(),
					format: "json",
					page:  $('input[name="page"]').val(),
					limit: $('select[name="limit"] option:selected').val(),
				}, function(data) {
					// verify there were some results
					if (data == "[]") {
						alert("No results found");
						$('#loading-indicator').hide();	
						return;
					}
					// parse into json
					res = JSON.parse(data)
					// build up the thead
					$('#results th').remove();
					for (var k in res[0]) {
						if (k == 'id') continue;
						$('#results thead').append('<th>' + k + '</th>');
					}

					// build up the tbody
					$('#results tbody > tr').remove();
					for (var i = 0; i < res.length; i++) {
						$('#results tbody').append('<tr></tr>');
						delete res[i].id;
						$.each(res[i], function() {
							$('#results tbody tr:last-child').append('<td>' + this + '</td>');
						});
					}
					// Makes the pagination after we AJAX'd, but only if our format is web
					if ($('select[name="format"]').val() == "web"){
						makePagination();
					}
					// $('#loading-indicator').hide();				
				});
			};

			$('thead').on("click", "th", function() {
				// Add a sort, flip if one already exists
				sort = $(this).text().toLowerCase()
				curSort = $('input[name="sort"]')
				if (sort == curSort.val()) {
					// flip to reverse order
					curSort.val('-' + sort);
				} else {
					curSort.val(sort);
				}
				// trigger a new search
				$('.search-button').click();
			});
			window.onpopstate = function(event) {
				// Update input fields as required
				document.location.replace(document.location)
			}
			// Makes the pagination whenever we reload
			makePagination();			
		});
	</script>
</body>
</html>
