<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search a dump! | Steamer</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="pure-g">
		<form class="pure-form pure-u-1-2" action="/search" method="get" style="margin: 0 auto; text-align: center;">
			<fieldset>
				<legend>Freeform search all archived dumps</legend>
				
				<input type="text" name="search" style="width: 400px">
				<select name="breach">
					<option value="all">All Dumps</option>
					<option>Loading...</option>
				</select>
				<button type="submit" class="pure-button pure-button-primary">Search</button>
			</fieldset>
		</form>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			// AJAX in the breach list
			$.get("/listbreaches", function(data) {
				// remove the loading item
				$('select[name="breach"] > :last-child').remove();
				breaches = JSON.parse(data);
				for (var i = 0; i < breaches.length; i++) {
					$('select[name="breach"]').append('<option name="' + breaches[i] + '">' + breaches[i] + '</option>');
				}
			});
		});
	</script>
</body>
</html>
